<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.PUserDeviceMapper">
  <resultMap id="BaseResultMap" type="com.len.entity.PUserDevice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="deviceid" jdbcType="INTEGER" property="deviceid" />
  </resultMap>
</mapper>